<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Language List</h4>
            <a *ngIf="checkClaim('CreateLanguageCommand')" class="pull-right" data-toggle="modal"
              data-target="#language"> <i style="color:white" title="ekle" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtTrigger]="dtTrigger" class="stripe">
                <thead class="text-primary">
                  <tr>
                    <th>{{'Id'|translate}}</th>
                    <th>{{'Name'|translate}}</th>
                    <th>{{'Code'|translate}}</th>

                    <th class="no-sort"></th>
                    <th class="no-sort"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let language of languageList">
                    <td>{{language.id}}</td>
                    <td>{{language.name}}</td>
                    <td>{{language.code}}</td>

                    <td *ngIf="checkClaim('UpdateLanguageCommand')" style="width: 25px;">
                      <a data-toggle="modal" data-target="#language" (click)="getLanguageById(language.id)">
                        <i style="color:#ff5722;" class="far fa-edit"></i>
                      </a>
                    </td>
                    <td *ngIf="checkClaim('DeleteLanguageCommand')" style="width: 25px;">
                      <a (click)="deleteLanguage(language.id)"><i style="color:#D9534E;" class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-angular fade" id="language" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(languageAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          Add Language
        </h4>
        <div class="separator"></div>
        <form *ngIf="languageAddForm" [formGroup]="languageAddForm" (ngSubmit)="save()">

          <div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder=" {{'FullName'|translate}}" type="text" id="name" name="name"
                  formControlName="name">
                <div class="alert alert-danger"
                  *ngIf="languageAddForm.get('name')!.hasError('required') && languageAddForm.get('name')!.touched">İsim
                  zorunlu</div>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Code'|translate}}" type="text" id="code" name="code" formControlName="code" />
                <div class="alert alert-danger"
                  *ngIf="languageAddForm.get('code')!.hasError('code') && languageAddForm.get('code')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>

          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save' |translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>