
<div class="logo" style="padding:5px">
    <a class="simple-text">
       <!-- <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png">
        </div>  -->
        <!-- Dev Architecture -->
        <img src="/assets/img/logo/logo.png" style="width:100px; margin-top: -15px; ">
    </a>
   
</div>
<div class="sidebar-wrapper">

    <ul class="nav collapse out" >
        <li  *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a *ngIf="checkClaim(menuItem.claim)" class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
