
<div class="logo" style="padding:5px">
    <a class="simple-text">
       <!-- <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png">
        </div>  -->
        <!-- Dev Architecture -->
      <img src="/assets/img/logo/logo.png" style="margin-top: -94px;width: 275px;margin-bottom: -96px;margin-left: -17px;">
    </a>
   
</div>
<div class="sidebar-wrapper">

    <ul class="nav collapse out" >
        <li  *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a *ngIf="checkClaim(menuItem.claim)" class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <!-- <li class="nav-item  collapsed"  data-toggle="collapse" data-target="#service">
            <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span>
                <p>Test</p></a>
            <ul class="nav collapse" id="service">
                <li><a href="#">Service A</a></li>
                <li><a href="#">Service B</a></li>

            </ul>
        </li> -->
    </ul>
</div>
