<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Translate List</h4>
            <a *ngIf="checkClaim('CreateTranslateCommand')" class="pull-right" data-toggle="modal"
              data-target="#translate"> <i style="color:white" title="ekle" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtTrigger]="dtTrigger" class="stripe">
                <thead class="text-primary">
                  <tr>
                    <th>Id</th>
                    <th>Lang Code</th>
                    <th>Code</th>
                    <th>Value</th>

                    <th class="no-sort"></th>
                    <th class="no-sort"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let translate of translateList">
                    <td>{{translate.id}}</td>
                    <td>{{translate.language}}</td>
                    <td>{{translate.code}}</td>
                    <td>{{translate.value}}</td>

                    <td *ngIf="checkClaim('UpdateTranslateCommand')" style="width: 25px;">
                      <a data-toggle="modal" data-target="#translate" (click)="getTranslateById(translate.id)">
                        <i style="color:blue;" class="far fa-edit"></i>
                      </a>
                    </td>
                    <td *ngIf="checkClaim('DeleteTranslateCommand')" style="width: 25px;">
                      <a (click)="deleteTranslate(translate.id)"><i class="fas fa-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-angular fade" id="translate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(translateAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          Add Translate
        </h4>
        <div class="separator"></div>
        <form *ngIf="translateAddForm" [formGroup]="translateAddForm" (ngSubmit)="save()">

          <div class="row">
            <div class="col-md-12">
              <select class="browser-default custom-select" name="langid" formControlName="langid">
                <option *ngFor="let item of langugelookUp" [ngValue]="item.id"> {{item.label}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="code" type="text" id="code" name="code" formControlName="code" />
                <div class="alert alert-danger"
                  *ngIf="translateAddForm.get('code')!.hasError('code') && translateAddForm.get('code')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="value" type="text" id="value" name="value" formControlName="value" />
                <div class="alert alert-danger"
                  *ngIf="translateAddForm.get('value')!.hasError('value') && translateAddForm.get('value')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>

          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>