<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'GroupList'|translate}}</h4>
            <a *ngIf="checkClaim('CreateGroupCommand')" class="pull-right" data-toggle="modal" data-target="#group"><i style="color:white" title="{{'Add'| translate}}" class="far fa-plus-square fa-2x"></i> </a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              
              <div class="col-md-4 pull-right">
                <mat-form-field>
                  <mat-label>{{Filter |translate}}</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>
              </div>

              <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Id'|translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="groupName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GroupName'|translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
                </ng-container>

                <ng-container matColumnDef="updateGroupClaim" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateGroupClaimCommand')" data-toggle="modal" data-target="#groupClaims" (click)="getGroupClaims(element.id)"><i title="{{'GrupPermissions' | translate }}" style="color:blue;" class="fas fa-shield-alt" aria-hidden="true"></i></a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="updateUserGroupClaims" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateUserGroupByGroupIdCommand')" data-toggle="modal" data-target="#groupUsers" (click)="getGroupUsers(element.id)"><i title="{{'UsersGroups' | translate}}" style="color:green;" class="fas fa-user-shield" aria-hidden="true"></i></a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateGroupCommand')" data-toggle="modal" data-target="#group" (click)="getGroupById(element.id)"><i title="{{'Update' | translate}}" style="color:#ff5722;" class="far fa-edit"></i></a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteGroupCommand')" (confirm)="deleteGroup(element.id)" [swal]="deleteSwal"><i title="{{'Delete'| translate}}" style="color:#D9534E;" class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 25,50,100]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(groupAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          {{'GroupForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="groupAddForm" [formGroup]="groupAddForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder=" {{'GroupName'|translate}}" type="text" id="groupName" name="groupName"
                  formControlName="groupName">
                <div class="alert alert-danger"
                     *ngIf="groupAddForm.get('groupName')!.hasError('required') && groupAddForm.get('groupName')!.touched">
                  {{'Required'| translate}}
                </div>
              </mat-form-field>
            </div>
          </div>

          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save' |translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-angular fade" id="groupUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          {{'GroupUsers'| translate}}
        </h4>
        <div class="separator"></div>

        <ng-multiselect-dropdown [settings]="dropdownSettings" [placeholder]="'Users'" [data]="userDropdownList"
          [(ngModel)]="userSelectedItems" (onSelect)="onItemSelect('User')" (onSelectAll)="onSelectAll('User')"
          (onDeSelect)="onItemDeSelect('User')">
        </ng-multiselect-dropdown>

      </div>
      <div class="modal-footer">
        <a class="btn btn-primary pull-right" (click)="saveGroupUsers()"> {{'Save' |translate}}</a>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="groupClaims" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          {{'GroupClaims'| translate}}
        </h4>
        <div class="separator"></div>

        <ng-multiselect-dropdown [settings]="dropdownSettings" [placeholder]="'Claims'" [data]="claimDropdownList"
          [(ngModel)]="claimSelectedItems" (onSelect)="onItemSelect('Claim')" (onSelectAll)="onSelectAll('Claim')"
          (onDeSelect)="onItemDeSelect('Claim')">
        </ng-multiselect-dropdown>

      </div>
      <div class="modal-footer">
        <a class="btn btn-primary pull-right" (click)="saveGroupClaims()"> {{'Save' |translate}}</a>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon="error" [showCancelButton]="true"
  [confirmButtonText]="'OK'" [cancelButtonText]="'Cancel'">
</swal>