:host ::ng-deep .multiselect-dropdown .dropdown-btn 
{
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
   
    
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item
{
    background: #9c27b0 !important;
}

:host ::ng-deep .multiselect-item-checkbox >input[type=checkbox]:checked + div:before {
    background: #9c27b0 !important;
}

.no-sort::after {
  display: none !important;
  background-image: url() !important;
}

