<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">User List</h4>
            <a *ngIf="checkClaim('CreateUserCommand')" class="pull-right" data-toggle="modal" data-target="#user"> <i style="color:white" title="{{'create' | translate}}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtTrigger]="dtTrigger"  class="stripe">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      {{'ID' |translate}}
                    </th>
                    <th>
                      {{'Email' |translate}}
                    </th>
                    <th>
                      {{'FullName' |translate}}
                    </th>
                    <th>
                      {{'Address' |translate}}
                    </th>
                    <th>
                      {{'Status' |translate}}
                    </th>
                    <th>
                      {{'Notes' |translate}}
                    </th>
                    <th class="no-sort"></th>
                    <th class="no-sort"></th>
                    <th class="no-sort"></th>
                    <th class="no-sort"></th>
                    <th class="no-sort"></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of userList">
                    <td>
                      {{user.userId}}
                    </td>
                    <td>
                      {{user.email}}
                    </td>
                    <td>
                      {{user.fullName}}
                    </td>
                    <td>
                      {{user.address}}
                    </td>
                    <td>
                      <input type="checkbox" [(ngModel)]="user.status" disabled>
                    </td>
                    <td>
                      {{user.notes}}
                    </td>
                    <td *ngIf="checkClaim('UserChangePasswordCommand')" style="width: 25px;">
                      <a data-toggle="modal" data-target="#passwordChange" (click)="setUserId(user.userId)"><i title="{{('UserChangePassword' | translate)}}" style="color:slateblue;" class="fas fa-key" aria-hidden="true"></i></a>
                    </td>
                    <td *ngIf="checkClaim('UpdateUserClaimCommand')" style="width: 25px;">
                      <a data-toggle="modal" data-target="#claimsPermissions" (click)="getUserClaimsPermissions(user.userId)"><i title="{{('UsersClaims' | translate)}}" style="color:green;" class="fas fa-user-shield" aria-hidden="true"></i></a>
                    </td>
                    <td *ngIf="checkClaim('UpdateGroupClaimCommand')" style="width: 25px;">
                      <a data-toggle="modal" data-target="#groupPermissions" (click)="getUserGroupPermissions(user.userId)"><i title="{{'UsersGroups' | translate}}" style="color:royalblue;"  class="fas fa-user-lock" aria-hidden="true"></i></a>
                    </td>
                    <td *ngIf="checkClaim('UpdateUserCommand')" style="width: 25px;">
                      <a data-toggle="modal" data-target="#user" (click)="getUserById(user.userId)"><i title="{{'Update' | translate}}" style="color:#ff5722;" class="far fa-edit"></i></a>
                    </td>
                    <td *ngIf="checkClaim('DeleteUserCommand')" style="width: 25px;">
                      <a (click)="deleteUser(user.userId)"><i title="{{'Delete' | translate}}" style="color:#D9534E;" class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(userAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          Add User
        </h4>
        <div class="separator"></div>
        <form *ngIf="userAddForm" [formGroup]="userAddForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder=" {{'FullName'|translate}}" type="text" id="fullName" name="fullName"
                  formControlName="fullName">
                <div class="alert alert-danger"
                  *ngIf="userAddForm.get('fullName')!.hasError('required') && userAddForm.get('fullName')!.touched">İsim
                  zorunlu</div>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Email'|translate}}" type="email" id="email" name="email"
                  formControlName="email">
                <div class="alert alert-danger"
                  *ngIf="userAddForm.get('email')!.hasError('required') && userAddForm.get('email')!.dirty"></div>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Adress'|translate}}" type="text" id="address" name="address" formControlName="address">
                <div class="alert alert-danger"
                  *ngIf="userAddForm.get('address')!.hasError('address') && userAddForm.get('address')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Notes'|translate}}" type="text" id="notes" name="notes" formControlName="notes">
                <div class="alert alert-danger"
                  *ngIf="userAddForm.get('notes')!.hasError('notes') && userAddForm.get('notes')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save' |translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="passwordChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(passwordForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          {{'Change Password' | translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="passwordForm" [formGroup]="passwordForm" (ngSubmit)="savePassword()">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Password'|translate}}" type="password" id="password" name="password"
                  formControlName="password">
                <div class="alert alert-danger"
                  *ngIf="passwordForm.get('password')!.hasError('required') && passwordForm.get('password')!.touched">Parola alanı zorunludur!</div>
              </mat-form-field>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'ConfirmPassword'|translate}}" type="password" id="confirmPassword" name="confirmPassword"
                  formControlName="confirmPassword">
                <div class="alert alert-danger"
                *ngIf="passwordForm.get('confirmPassword')!.hasError('required') && passwordForm.get('confirmPassword')!.touched">Parola onay alanı zorunludur!</div>
                <div class="alert alert-danger"
                *ngIf="passwordForm.get('confirmPassword')!.hasError('mustMatch')">Girdiğiniz Parolalar Eşleşmiyor!</div>
              </mat-form-field>
              
            </div>
          </div>

          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save' |translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-angular fade" id="groupPermissions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          Permissions
        </h4>
        <div class="separator"></div>

        <ng-multiselect-dropdown [settings]="dropdownSettings" [placeholder]="'Groups'" [data]="groupDropdownList"
          [(ngModel)]="groupSelectedItems" (onSelect)="onItemSelect('Group')" (onSelectAll)="onSelectAll('Group')"
          (onDeSelect)="onItemDeSelect('Group')">
        </ng-multiselect-dropdown>

      </div>
      <div class="modal-footer">
        <a class="btn btn-primary pull-right" (click)="saveUserGroupsPermissions()"> {{'Save' |translate}}</a>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="claimsPermissions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          Permissions
        </h4>
        <div class="separator"></div>

        <ng-multiselect-dropdown [settings]="dropdownSettings" [placeholder]="'Claims'" [data]="claimDropdownList"
          [(ngModel)]="claimSelectedItems" (onSelect)="onItemSelect('Claim')" (onSelectAll)="onSelectAll('Claim')"
          (onDeSelect)="onItemDeSelect('Claim')">
        </ng-multiselect-dropdown>

      </div>
      <div class="modal-footer">
        <a class="btn btn-primary pull-right" (click)="saveUserClaimsPermission()"> {{'Save' |translate}}</a>
      </div>
    </div>
  </div>
</div>
<script>
	$(document).ready(function () {
		$('#foo').DataTable({
      "ordering": false
		});
  });
</script>