<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'UserList'|translate}}</h4>
            <a *ngIf="checkClaim('CreateUserCommand')" class="pull-right" data-toggle="modal" data-target="#user"> <i
                style="color:white" title="{{'Add'| translate}}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <div class="col-md-4 pull-right">
                  <mat-form-field>
                      <mat-label>{{Filter |translate}}</mat-label>
                      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                  </mat-form-field>
              </div>

              <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="userId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ID' |translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Email' |translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="fullName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FullName' |translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Status' |translate}} </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="element.status" [disabled]="true">
                    </mat-checkbox>
                  </td>

                </ng-container>

                <ng-container matColumnDef="mobilePhones" >
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'MobilePhones' |translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.mobilePhones}} </td>
                </ng-container>

                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Address' |translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>

                <ng-container matColumnDef="notes">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Notes' |translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
                </ng-container>

                <ng-container matColumnDef="passwordChange" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('UserChangePasswordCommand')" data-toggle="modal" data-target="#passwordChange" (click)="setUserId(element.userId)"><i
                        title="{{('ChangePassword' | translate)}}" style="color:slateblue;" class="fas fa-key"
                        aria-hidden="true"></i></a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="updateClaim" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateUserClaimCommand')" data-toggle="modal" data-target="#claimsPermissions"
                      (click)="getUserClaimsPermissions(element.userId)"><i title="{{('UsersClaims' | translate)}}"
                        style="color:green;" class="fas fa-user-shield" aria-hidden="true"></i></a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="updateGroupClaim">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateGroupClaimCommand')" data-toggle="modal" data-target="#groupPermissions"
                      (click)="getUserGroupPermissions(element.userId)"><i title="{{'UsersGroups' | translate}}"
                        style="color:royalblue;" class="fas fa-user-lock" aria-hidden="true"></i></a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateUserCommand')" data-toggle="modal" data-target="#user" (click)="getUserById(element.userId)"><i
                        title="{{'Update' | translate}}" style="color:#ff5722;" class="far fa-edit"></i></a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteUserCommand')" (confirm)="deleteUser(element.userId)" [swal]="deleteSwal"><i title="{{'Delete' | translate}}" style="color:#D9534E;"
                        class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 25,50,100]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(userAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          {{'UserForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="userAddForm" [formGroup]="userAddForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder=" {{'FullName'|translate}}" type="text" id="fullName" name="fullName"
                  formControlName="fullName">
                <div class="alert alert-danger"
                     *ngIf="userAddForm.get('fullName')!.hasError('required') && userAddForm.get('fullName')!.touched">{{'Required'| translate}}
                </div>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Email'|translate}}" type="email" id="email" name="email"
                  formControlName="email">
                <div class="alert alert-danger"
                  *ngIf="userAddForm.get('email')!.hasError('required') && userAddForm.get('email')!.dirty"></div>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'MobilePhones'|translate}}" type="text" id="mobilePhones"
                  name="mobilePhones" formControlName="mobilePhones">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Adress'|translate}}" type="text" id="address" name="address"
                  formControlName="address">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Notes'|translate}}" type="text" id="notes" name="notes"
                  formControlName="notes">
              </mat-form-field>
            </div>
          </div>
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save' |translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="passwordChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(passwordForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          {{'Change Password' | translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="passwordForm" [formGroup]="passwordForm" (ngSubmit)="savePassword()">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Password'|translate}}" type="password" id="password" name="password"
                  formControlName="password">
                <div class="alert alert-danger"
                     *ngIf="passwordForm.get('password')!.hasError('required') && passwordForm.get('password')!.touched">
                  {{'Required'| translate}}
                </div>
              </mat-form-field>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'ConfirmPassword'|translate}}" type="password" id="confirmPassword"
                  name="confirmPassword" formControlName="confirmPassword">
                <div class="alert alert-danger"
                  *ngIf="passwordForm.get('confirmPassword')!.hasError('required') && passwordForm.get('confirmPassword')!.touched">
                  Parola onay alanı zorunludur!</div>
                <div class="alert alert-danger" *ngIf="passwordForm.get('confirmPassword')!.hasError('mustMatch')">
                  {{'ConfirmPassword'| translate}}
                </div>
              </mat-form-field>

            </div>
          </div>

          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save' |translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-angular fade" id="groupPermissions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          {{'Permissions'| translate}}
        </h4>
        <div class="separator"></div>

        <ng-multiselect-dropdown [settings]="dropdownSettings" [placeholder]="'Groups'" [data]="groupDropdownList"
          [(ngModel)]="groupSelectedItems" (onSelect)="onItemSelect('Group')" (onSelectAll)="onSelectAll('Group')"
          (onDeSelect)="onItemDeSelect('Group')">
        </ng-multiselect-dropdown>

      </div>
      <div class="modal-footer">
        <a class="btn btn-primary pull-right" (click)="saveUserGroupsPermissions()"> {{'Save' |translate}}</a>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="claimsPermissions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          {{'Permissions'| translate}}
        </h4>
        <div class="separator"></div>

        <ng-multiselect-dropdown [settings]="dropdownSettings" [placeholder]="'Claims'" [data]="claimDropdownList"
          [(ngModel)]="claimSelectedItems" (onSelect)="onItemSelect('Claim')" (onSelectAll)="onSelectAll('Claim')"
          (onDeSelect)="onItemDeSelect('Claim')">
        </ng-multiselect-dropdown>

      </div>
      <div class="modal-footer">
        <a class="btn btn-primary pull-right" (click)="saveUserClaimsPermission()"> {{'Save' |translate}}</a>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon="error" [showCancelButton]="true"
  [confirmButtonText]="'OK'" [cancelButtonText]="'Cancel'">
</swal>