<?xml version="1.0"?>
<RuleSet Name="StyleCop.Analyzers rules with default action"
         Description="StyleCop.Analyzers with default action. Rules with IsEnabledByDefault = false are disabled."
         ToolsVersion="14.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.SpecialRules">
        <Rule Id="SA0001" Action="None"/>          <!-- XML comment analysis disabled -->
        <Rule Id="SA0002" Action="None"/>          <!-- Invalid settings file -->
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.SpacingRules">
        <Rule Id="SA1000" Action="Error"/>          <!-- Keywords should be spaced correctly -->
        <Rule Id="SA1001" Action="Error"/>          <!-- Commas should be spaced correctly -->
        <Rule Id="SA1002" Action="Error"/>          <!-- Semicolons should be spaced correctly -->
        <Rule Id="SA1003" Action="Error"/>          <!-- Symbols should be spaced correctly -->
        <Rule Id="SA1004" Action="Error"/>          <!-- Documentation lines should begin with single space -->
        <Rule Id="SA1005" Action="Error"/>          <!-- Single line comments should begin with single space -->
        <Rule Id="SA1006" Action="Error"/>          <!-- Preprocessor keywords should not be preceded by space -->
        <Rule Id="SA1007" Action="Error"/>          <!-- Operator keyword should be followed by space -->
        <Rule Id="SA1008" Action="Error"/>          <!-- Opening parenthesis should be spaced correctly -->
        <Rule Id="SA1009" Action="Error"/>          <!-- Closing parenthesis should be spaced correctly -->
        <Rule Id="SA1010" Action="Error"/>          <!-- Opening square brackets should be spaced correctly -->
        <Rule Id="SA1011" Action="Error"/>          <!-- Closing square brackets should be spaced correctly -->
        <Rule Id="SA1012" Action="Error"/>          <!-- Opening braces should be spaced correctly -->
        <Rule Id="SA1013" Action="Error"/>          <!-- Closing braces should be spaced correctly -->
        <Rule Id="SA1014" Action="Error"/>          <!-- Opening generic brackets should be spaced correctly -->
        <Rule Id="SA1015" Action="Error"/>          <!-- Closing generic brackets should be spaced correctly -->
        <Rule Id="SA1016" Action="Error"/>          <!-- Opening attribute brackets should be spaced correctly -->
        <Rule Id="SA1017" Action="Error"/>          <!-- Closing attribute brackets should be spaced correctly -->
        <Rule Id="SA1018" Action="Error"/>          <!-- Nullable type symbols should be spaced correctly -->
        <Rule Id="SA1019" Action="Error"/>          <!-- Member access symbols should be spaced correctly -->
        <Rule Id="SA1020" Action="Error"/>          <!-- Increment decrement symbols should be spaced correctly -->
        <Rule Id="SA1021" Action="Error"/>          <!-- Negative signs should be spaced correctly -->
        <Rule Id="SA1022" Action="Error"/>          <!-- Positive signs should be spaced correctly -->
        <Rule Id="SA1023"
              Action="Error"/>          <!-- Dereference and access of symbols should be spaced correctly -->
        <Rule Id="SA1024" Action="Error"/>          <!-- Colons should be spaced correctly -->
        <Rule Id="SA1025" Action="None"/>          <!-- Code should not contain multiple whitespace in a row -->
        <Rule Id="SA1026"
              Action="Error"/>          <!-- Code should not contain space after new or stackalloc keyword in implicitly typed array allocation -->
        <Rule Id="SA1027" Action="None"/>          <!-- Use tabs correctly -->
        <Rule Id="SA1028" Action="Error"/>          <!-- Code should not contain trailing whitespace -->
    </Rules>

    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.ReadabilityRules">
        <Rule Id="SA1100"
              Action="Error"/>          <!-- Do not prefix calls with base unless local implementation exists -->
        <Rule Id="SA1101" Action="None"/>          <!-- Prefix local calls with this -->
        <Rule Id="SA1102" Action="Error"/>          <!-- Query clause should follow previous clause -->
        <Rule Id="SA1103" Action="Error"/>          <!-- Query clauses should be on separate lines or all on one line -->
        <Rule Id="SA1104"
              Action="Error"/>          <!-- Query clause should begin on new line when previous clause spans multiple lines -->
        <Rule Id="SA1105"
              Action="Error"/>          <!-- Query clauses spanning multiple lines should begin on own line -->
        <Rule Id="SA1106" Action="Error"/>          <!-- Code should not contain empty statements -->
        <Rule Id="SA1107" Action="Error"/>          <!-- Code should not contain multiple statements on one line -->
        <Rule Id="SA1108" Action="Error"/>          <!-- Block statements should not contain embedded comments -->
        <Rule Id="SA1109" Action="Error"/>             <!-- Block statements should not contain embedded regions -->
        <Rule Id="SA1110" Action="Error"/>          <!-- Opening parenthesis or bracket should be on declaration line -->
        <Rule Id="SA1111" Action="Error"/>          <!-- Closing parenthesis should be on line of last parameter -->
        <Rule Id="SA1112" Action="Error"/>          <!-- Closing parenthesis should be on line of opening parenthesis -->
        <Rule Id="SA1113" Action="Error"/>          <!-- Comma should be on the same line as previous parameter -->
        <Rule Id="SA1114" Action="Error"/>          <!-- Parameter list should follow declaration -->
        <Rule Id="SA1115" Action="Error"/>          <!-- Parameter should follow comma -->
        <Rule Id="SA1116" Action="Error"/>          <!-- Split parameters should start on line after declaration -->
        <Rule Id="SA1117" Action="Error"/>          <!-- Parameters should be on same line or separate lines -->
        <Rule Id="SA1118" Action="None"/>          <!-- Parameter should not span multiple lines -->
        <Rule Id="SA1120" Action="Error"/>          <!-- Comments should contain text -->
        <Rule Id="SA1121" Action="Error"/>          <!-- Use built-in type alias -->
        <Rule Id="SA1122" Action="Error"/>          <!-- Use string.Empty for empty strings -->
        <Rule Id="SA1123" Action="Error"/>          <!-- Do not place regions within elements -->
        <Rule Id="SA1124" Action="Error"/>          <!-- Do not use regions -->
        <Rule Id="SA1125" Action="Error"/>          <!-- Use shorthand for nullable types -->
        <Rule Id="SA1126" Action="Error"/>             <!-- Prefix calls correctly -->
        <Rule Id="SA1127" Action="Error"/>          <!-- Generic type constraints should be on their own line -->
        <Rule Id="SA1128" Action="Error"/>          <!-- Put constructor initializers on their own line -->
        <Rule Id="SA1129" Action="None"/>          <!-- Do not use default value type constructor -->
        <Rule Id="SA1130" Action="Error"/>          <!-- Use lambda syntax -->
        <Rule Id="SA1131" Action="Error"/>          <!-- Use readable conditions -->
        <Rule Id="SA1132" Action="Error"/>          <!-- Do not combine fields -->
        <Rule Id="SA1133" Action="Error"/>          <!-- Do not combine attributes -->
        <Rule Id="SA1134" Action="Error"/>          <!-- Attributes should not share line -->
        <Rule Id="SA1135" Action="Error"/>          <!-- Using directives should be qualified -->
        <Rule Id="SA1136" Action="Error"/>          <!-- Enum values should be on separate lines -->
        <Rule Id="SA1137" Action="None"/>          <!-- Elements should have the same indentation -->
        <Rule Id="SA1139" Action="Error"/>          <!-- Use literal suffix notation instead of casting -->
        <Rule Id="SX1101" Action="Error"/>             <!-- Do not prefix local calls with 'this.' -->
    </Rules>

    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.OrderingRules">
        <Rule Id="SA1200" Action="None"/>          <!-- Using directives should be placed correctly -->
        <Rule Id="SA1201" Action="Error"/>          <!-- Elements should appear in the correct order -->
        <Rule Id="SA1202" Action="Error"/>          <!-- Elements should be ordered by access -->
        <Rule Id="SA1203" Action="Error"/>          <!-- Constants should appear before fields -->
        <Rule Id="SA1204" Action="Error"/>          <!-- Static elements should appear before instance elements -->
        <Rule Id="SA1205" Action="Error"/>          <!-- Partial elements should declare access -->
        <Rule Id="SA1206" Action="Error"/>          <!-- Declaration keywords should follow order -->
        <Rule Id="SA1207" Action="Error"/>          <!-- Protected should come before internal -->
        <Rule Id="SA1208"
              Action="None"/>          <!-- System using directives should be placed before other using directives -->
        <Rule Id="SA1209"
              Action="Error"/>          <!-- Using alias directives should be placed after other using directives -->
        <Rule Id="SA1210"
              Action="None"/>          <!-- Using directives should be ordered alphabetically by namespace -->
        <Rule Id="SA1211"
              Action="Error"/>          <!-- Using alias directives should be ordered alphabetically by alias name -->
        <Rule Id="SA1212" Action="Error"/>          <!-- Property accessors should follow order -->
        <Rule Id="SA1213" Action="Error"/>          <!-- Event accessors should follow order -->
        <Rule Id="SA1214" Action="Error"/>          <!-- Readonly fields should appear before non-readonly fields -->
        <Rule Id="SA1216"
              Action="Error"/>          <!-- Using static directives should be placed at the correct location -->
        <Rule Id="SA1217" Action="Error"/>          <!-- Using static directives should be ordered alphabetically -->
    </Rules>

    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.NamingRules">
        <Rule Id="SA1300" Action="Error"/>          <!-- Element should begin with upper-case letter -->
        <Rule Id="SA1301" Action="Error"/>             <!-- Element should begin with lower-case letter -->
        <Rule Id="SA1302" Action="Error"/>          <!-- Interface names should begin with I -->
        <Rule Id="SA1303" Action="Error"/>          <!-- Const field names should begin with upper-case letter -->
        <Rule Id="SA1304"
              Action="Error"/>          <!-- Non-private readonly fields should begin with upper-case letter -->
        <Rule Id="SA1305" Action="Error"/>             <!-- Field names should not use Hungarian notation -->
        <Rule Id="SA1306" Action="Error"/>          <!-- Field names should begin with lower-case letter -->
        <Rule Id="SA1307" Action="Error"/>          <!-- Accessible fields should begin with upper-case letter -->
        <Rule Id="SA1308" Action="Error"/>          <!-- Variable names should not be prefixed -->
        <Rule Id="SA1309" Action="None"/>          <!-- Field names should not begin with underscore -->
        <Rule Id="SA1310" Action="None"/>          <!-- Field names should not contain underscore -->
        <Rule Id="SA1311" Action="Error"/>          <!-- Static readonly fields should begin with upper-case letter -->
        <Rule Id="SA1312" Action="None"/>          <!-- Variable names should begin with lower-case letter -->
        <Rule Id="SA1313" Action="None"/>          <!-- Parameter names should begin with lower-case letter -->
        <Rule Id="SA1314" Action="None"/>          <!-- Type parameter names should begin with T -->
        <Rule Id="SX1309" Action="Error"/>             <!-- Field names should begin with underscore -->
        <Rule Id="SX1309S" Action="Error"/>             <!-- Static field names should begin with underscore -->
    </Rules>

    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.MaintainabilityRules">
        <Rule Id="SA1119" Action="Error"/>          <!-- Statement should not use unnecessary parenthesis -->
        <Rule Id="SA1400" Action="None"/>          <!-- Access modifier should be declared -->
        <Rule Id="SA1401" Action="Error"/>          <!-- Fields should be private -->
        <Rule Id="SA1402" Action="None"/>          <!-- File may only contain a single type -->
        <Rule Id="SA1403" Action="None"/>          <!-- File may only contain a single namespace -->
        <Rule Id="SA1404" Action="Error"/>          <!-- Code analysis suppression should have justification -->
        <Rule Id="SA1405" Action="None"/>          <!-- Debug.Assert should provide message text -->
        <Rule Id="SA1406" Action="Error"/>          <!-- Debug.Fail should provide message text -->
        <Rule Id="SA1407" Action="None"/>          <!-- Arithmetic expressions should declare precedence -->
        <Rule Id="SA1408" Action="None"/>          <!-- Conditional expressions should declare precedence -->
        <Rule Id="SA1409" Action="None"/>          <!-- Remove unnecessary code -->
        <Rule Id="SA1410" Action="Error"/>          <!-- Remove delegate parenthesis when possible -->
        <Rule Id="SA1411" Action="None"/>          <!-- Attribute constructor should not use unnecessary parenthesis -->
        <Rule Id="SA1412" Action="None"/>          <!-- Store files as UTF-8 with byte order mark -->
        <Rule Id="SA1413" Action="None"/>          <!-- Use trailing comma in multi-line initializers -->
    </Rules>

    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.LayoutRules">
        <Rule Id="SA1500" Action="None"/>          <!-- Braces for multi-line statements should not share line -->
        <Rule Id="SA1501" Action="None"/>          <!-- Statement should not be on a single line -->
        <Rule Id="SA1502" Action="None"/>          <!-- Element should not be on a single line -->
        <Rule Id="SA1503" Action="Error"/>          <!-- Braces should not be omitted -->
        <Rule Id="SA1504" Action="None"/>          <!-- All accessors should be single-line or multi-line -->
        <Rule Id="SA1505" Action="None"/>          <!-- Opening braces should not be followed by blank line -->
        <Rule Id="SA1506"
              Action="None"/>          <!-- Element documentation headers should not be followed by blank line -->
        <Rule Id="SA1507" Action="None"/>          <!-- Code should not contain multiple blank lines in a row -->
        <Rule Id="SA1508" Action="None"/>          <!-- Closing braces should not be preceded by blank line -->
        <Rule Id="SA1509" Action="Error"/>          <!-- Opening braces should not be preceded by blank line -->
        <Rule Id="SA1510"
              Action="None"/>          <!-- Chained statement blocks should not be preceded by blank line -->
        <Rule Id="SA1511" Action="None"/>          <!-- While-do footer should not be preceded by blank line -->
        <Rule Id="SA1512" Action="None"/>          <!-- Single-line comments should not be followed by blank line -->
        <Rule Id="SA1513" Action="None"/>          <!-- Closing brace should be followed by blank line -->
        <Rule Id="SA1514"
              Action="None"/>          <!-- Element documentation header should be preceded by blank line -->
        <Rule Id="SA1515" Action="None"/>          <!-- Single-line comment should be preceded by blank line -->
        <Rule Id="SA1516" Action="None"/>          <!-- Elements should be separated by blank line -->
        <Rule Id="SA1517" Action="None"/>          <!-- Code should not contain blank lines at start of file -->
        <Rule Id="SA1518" Action="None"/>          <!-- Use line endings correctly at end of file -->
        <Rule Id="SA1519" Action="None"/>          <!-- Braces should not be omitted from multi-line child statement -->
        <Rule Id="SA1520" Action="None"/>          <!-- Use braces consistently -->
    </Rules>

    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.DocumentationRules">
        <Rule Id="SA1600" Action="None"/>          <!-- Elements should be documented -->
        <Rule Id="SA1601" Action="None"/>          <!-- Partial elements should be documented -->
        <Rule Id="SA1602" Action="None"/>          <!-- Enumeration items should be documented -->
        <Rule Id="SA1603" Action="None"/>             <!-- Documentation should contain valid XML -->
        <Rule Id="SA1604" Action="None"/>          <!-- Element documentation should have summary -->
        <Rule Id="SA1605" Action="None"/>          <!-- Partial element documentation should have summary -->
        <Rule Id="SA1606" Action="None"/>          <!-- Element documentation should have summary text -->
        <Rule Id="SA1607" Action="None"/>          <!-- Partial element documentation should have summary text -->
        <Rule Id="SA1608" Action="None"/>          <!-- Element documentation should not have default summary -->
        <Rule Id="SA1609" Action="None"/>             <!-- Property documentation should have value -->
        <Rule Id="SA1610" Action="None"/>          <!-- Property documentation should have value text -->
        <Rule Id="SA1611" Action="None"/>          <!-- Element parameters should be documented -->
        <Rule Id="SA1612"
              Action="None"/>          <!-- Element parameter documentation should match element parameters -->
        <Rule Id="SA1613"
              Action="None"/>          <!-- Element parameter documentation should declare parameter name -->
        <Rule Id="SA1614" Action="None"/>          <!-- Element parameter documentation should have text -->
        <Rule Id="SA1615" Action="None"/>          <!-- Element return value should be documented -->
        <Rule Id="SA1616" Action="None"/>          <!-- Element return value documentation should have text -->
        <Rule Id="SA1617" Action="None"/>          <!-- Void return value should not be documented -->
        <Rule Id="SA1618" Action="None"/>          <!-- Generic type parameters should be documented -->
        <Rule Id="SA1619" Action="None"/>          <!-- Generic type parameters should be documented partial class -->
        <Rule Id="SA1620"
              Action="None"/>          <!-- Generic type parameter documentation should match type parameters -->
        <Rule Id="SA1621"
              Action="None"/>          <!-- Generic type parameter documentation should declare parameter name -->
        <Rule Id="SA1622" Action="None"/>          <!-- Generic type parameter documentation should have text -->
        <Rule Id="SA1623" Action="None"/>          <!-- Property summary documentation should match accessors -->
        <Rule Id="SA1624"
              Action="None"/>          <!-- Property summary documentation should omit accessor with restricted access -->
        <Rule Id="SA1625" Action="None"/>          <!-- Element documentation should not be copied and pasted -->
        <Rule Id="SA1626"
              Action="None"/>          <!-- Single-line comments should not use documentation style slashes -->
        <Rule Id="SA1627" Action="None"/>          <!-- Documentation text should not be empty -->
        <Rule Id="SA1628" Action="None"/>             <!-- Documentation text should begin with a capital letter -->
        <Rule Id="SA1629" Action="None"/>          <!-- Documentation text should end with a period -->
        <Rule Id="SA1630" Action="None"/>             <!-- Documentation text should contain whitespace -->
        <Rule Id="SA1631" Action="None"/>             <!-- Documentation should meet character percentage -->
        <Rule Id="SA1632" Action="None"/>             <!-- Documentation text should meet minimum character length -->
        <Rule Id="SA1633" Action="None"/>          <!-- File should have header -->
        <Rule Id="SA1634" Action="None"/>          <!-- File header should show copyright -->
        <Rule Id="SA1635" Action="None"/>          <!-- File header should have copyright text -->
        <Rule Id="SA1636" Action="None"/>          <!-- File header copyright text should match -->
        <Rule Id="SA1637" Action="None"/>          <!-- File header should contain file name -->
        <Rule Id="SA1638" Action="None"/>          <!-- File header file name documentation should match file name -->
        <Rule Id="SA1639" Action="None"/>          <!-- File header should have summary -->
        <Rule Id="SA1640" Action="None"/>          <!-- File header should have valid company text -->
        <Rule Id="SA1641" Action="None"/>          <!-- File header company name text should match -->
        <Rule Id="SA1642"
              Action="None"/>          <!-- Constructor summary documentation should begin with standard text -->
        <Rule Id="SA1643"
              Action="None"/>          <!-- Destructor summary documentation should begin with standard text -->
        <Rule Id="SA1644" Action="None"/>             <!-- Documentation headers should not contain blank lines -->
        <Rule Id="SA1645" Action="None"/>             <!-- Included documentation file does not exist -->
        <Rule Id="SA1646" Action="None"/>             <!-- Included documentation XPath does not exist -->
        <Rule Id="SA1647" Action="None"/>             <!-- Include node does not contain valid file and path -->
        <Rule Id="SA1648" Action="None"/>          <!-- Inheritdoc should be used with inheriting class -->
        <Rule Id="SA1649" Action="None"/>          <!-- File name should match first type name -->
        <Rule Id="SA1650" Action="None"/>             <!-- Element documentation should be spelled correctly -->
        <Rule Id="SA1651" Action="None"/>          <!-- Do not use placeholder elements -->
    </Rules>

    <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
        <Rule Id="UseConfigureAwait" Action="None"/>
    </Rules>

    <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
        <Rule Id="CA1001" Action="None"/>
        <Rule Id="CA1009" Action="None"/>
        <Rule Id="CA1016" Action="None"/>
        <Rule Id="CA1033" Action="None"/>
        <Rule Id="CA1049" Action="None"/>
        <Rule Id="CA1060" Action="None"/>
        <Rule Id="CA1061" Action="None"/>
        <Rule Id="CA1063" Action="None"/>
        <Rule Id="CA1065" Action="None"/>
        <Rule Id="CA1301" Action="None"/>
        <Rule Id="CA1400" Action="None"/>
        <Rule Id="CA1401" Action="None"/>
        <Rule Id="CA1403" Action="None"/>
        <Rule Id="CA1404" Action="None"/>
        <Rule Id="CA1405" Action="None"/>
        <Rule Id="CA1410" Action="None"/>
        <Rule Id="CA1415" Action="None"/>
        <Rule Id="CA1821" Action="None"/>
        <Rule Id="CA1900" Action="None"/>
        <Rule Id="CA1901" Action="None"/>
        <Rule Id="CA2002" Action="None"/>
        <Rule Id="CA2100" Action="None"/>
        <Rule Id="CA2101" Action="None"/>
        <Rule Id="CA2108" Action="None"/>
        <Rule Id="CA2111" Action="None"/>
        <Rule Id="CA2112" Action="None"/>
        <Rule Id="CA2114" Action="None"/>
        <Rule Id="CA2116" Action="None"/>
        <Rule Id="CA2117" Action="None"/>
        <Rule Id="CA2122" Action="None"/>
        <Rule Id="CA2123" Action="None"/>
        <Rule Id="CA2124" Action="None"/>
        <Rule Id="CA2126" Action="None"/>
        <Rule Id="CA2131" Action="None"/>
        <Rule Id="CA2132" Action="None"/>
        <Rule Id="CA2133" Action="None"/>
        <Rule Id="CA2134" Action="None"/>
        <Rule Id="CA2137" Action="None"/>
        <Rule Id="CA2138" Action="None"/>
        <Rule Id="CA2140" Action="None"/>
        <Rule Id="CA2141" Action="None"/>
        <Rule Id="CA2146" Action="None"/>
        <Rule Id="CA2147" Action="None"/>
        <Rule Id="CA2149" Action="None"/>
        <Rule Id="CA2200" Action="None"/>
        <Rule Id="CA2202" Action="None"/>
        <Rule Id="CA2207" Action="None"/>
        <Rule Id="CA2212" Action="None"/>
        <Rule Id="CA2213" Action="None"/>
        <Rule Id="CA2214" Action="None"/>
        <Rule Id="CA2216" Action="None"/>
        <Rule Id="CA2220" Action="None"/>
        <Rule Id="CA2229" Action="None"/>
        <Rule Id="CA2231" Action="None"/>
        <Rule Id="CA2232" Action="None"/>
        <Rule Id="CA2235" Action="None"/>
        <Rule Id="CA2236" Action="None"/>
        <Rule Id="CA2237" Action="None"/>
        <Rule Id="CA2238" Action="None"/>
        <Rule Id="CA2240" Action="None"/>
        <Rule Id="CA2241" Action="None"/>
        <Rule Id="CA2242" Action="None"/>
    </Rules>

    <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Analyzers" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Analyzers">
        <Rule Id="RS1022" Action="None"/> <!-- https://github.com/dotnet/roslyn-analyzers/issues/1803 -->
    </Rules>

    <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.CodeStyle" RuleNamespace="Microsoft.CodeAnalysis.CSharp.CodeStyle">
        <Rule Id="IDE0055" Action="None"/>
    </Rules>

    <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
        <Rule Id="IDE0003" Action="None"/>
    </Rules>

    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1600" Action="None"/>
        <Rule Id="SA1601" Action="None"/>
    </Rules>

    <Rules AnalyzerId="DocumentationAnalyzers" RuleNamespace="DocumentationAnalyzers">
        <Rule Id="DOC100" Action="None"/>
        <Rule Id="DOC101" Action="None"/>
        <Rule Id="DOC102" Action="None"/>
        <Rule Id="DOC103" Action="None"/>
        <Rule Id="DOC104" Action="None"/>
        <Rule Id="DOC105" Action="None"/>
        <Rule Id="DOC106" Action="None"/>
        <Rule Id="DOC107" Action="None"/>
        <Rule Id="DOC108" Action="None"/>
        <Rule Id="DOC200" Action="None"/>
        <Rule Id="DOC201" Action="None"/>
        <Rule Id="DOC202" Action="None"/>
        <Rule Id="DOC203" Action="None"/>
        <Rule Id="DOC204" Action="None"/>
    </Rules>

    <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
        <Rule Id="CS1573" Action="Hidden"/>
        <Rule Id="CS1591" Action="Hidden"/>
        <Rule Id="CS2008" Action="None"/>
    </Rules>
    <Rules AnalyzerId="xunit.analyzers" RuleNamespace="xunit.analyzers">
        <Rule Id="xUnit1004" Action="Info"/>
    </Rules>

    <Rules AnalyzerId="Microsoft.CodeAnalysis.Analyzers" RuleNamespace="Microsoft.CodeAnalysis.Analyzers">
        <Rule Id="RS1001" Action="None"/> <!-- Missing diagnostic analyzer attribute -->
        <Rule Id="RS1004" Action="None"/> <!-- Recommend adding language support to diagnostic analyzer -->
        <Rule Id="RS1029" Action="None"/> <!-- Do not use reserved diagnostic IDs -->
        <Rule Id="RS2008" Action="None"/> <!-- Enable analyzer release tracking -->
    </Rules>
</RuleSet>

