<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            
            <ul class="navbar-nav" *ngIf="isLoggedIn()">
                <li class="nav-item">
                  <span>{{userName}}</span>
                </li>   
                <li class="nav-item" (click)="help()" >                
                    <span class="material-icons" title="Help">
                      help_outline
                    </span>
                  
                </li>
                <li class="nav-item"   (click)="logOut()">
                      <span class="material-icons" title="Logout">login</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

