<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'OperationClaimList'|translate}}</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <div class="col-md-4 pull-right">
                <mat-form-field>
                  <mat-label>{{Filter |translate}}</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>
              </div>

              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Id'|translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Name'|translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="alias">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Alias'|translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Description'|translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateOperationClaimCommand')" data-toggle="modal" data-target="#operationclaim" (click)="getOperationClaimById(element.id)"><i
                      title="{{'Update' | translate}}"  style="color:#ff5722;" class="far fa-edit"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 25,50,100]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="operationclaim" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(operationClaimAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
          {{'OperationClaimForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="operationClaimAddForm" [formGroup]="operationClaimAddForm" (ngSubmit)="save()">

          <div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Alias'|translate}}" type="text" id="alias" name="alias"
                  formControlName="alias" />
                <div class="alert alert-danger"
                  *ngIf="operationClaimAddForm.get('alias')!.hasError('alias') && operationClaimAddForm.get('alias')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'Description'|translate}}" type="text" id="description"
                  name="description" formControlName="description" />
                <div class="alert alert-danger"
                  *ngIf="operationClaimAddForm.get('description')!.hasError('description') && operationClaimAddForm.get('description')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>

          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save' |translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>